{% extends 'favkaryapp/index.html' %}
{% load static %} 

{% block title %}lifestyle - Fab Kary View{% endblock %}

{% block content %}

    <!-- Portfolio Section -->
    <section id="weddings" class="py-5">
        <div class="container">
            <hr>
            <h2 class="text-center enfoqueFont">-  Lifestyle  -</h2>
            <p class="text-center esloganFont">Timeless portraits that you'll cherish forever</p>
            <hr>
            <div class="row">
                <div class="col-12 text-center">
                    <div class="row">
                        <!-- Añadir imágenes de bodas aquí -->
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/video1.gif" %}" class="img-fluid img-shadow" alt="Boda1">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/video3.gif" %}" class="img-fluid img-shadow" alt="Boda3">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/video5.gif" %}" class="img-fluid img-shadow" alt="Boda4">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/video2.gif" %}" class="img-fluid img-shadow" alt="Boda5">
                        </div>
                    </div>
                    <div class="row">
                        <!-- Añadir imágenes de bodas aquí -->
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/retrato1.png" %}" class="img-fluid img-shadow" alt="Boda2">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/retrato2.png" %}" class="img-fluid img-shadow" alt="Boda6">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/retrato3.png" %}" class="img-fluid img-shadow" alt="Boda7">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/retrato4.png" %}" class="img-fluid img-shadow" alt="Boda8">
                        </div>
                    </div>
                    <div class="row">
                        <!-- Añadir imágenes de bodas aquí -->
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/retrato5.png" %}" class="img-fluid img-shadow" alt="Boda2">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/retrato7.png" %}" class="img-fluid img-shadow" alt="Boda6">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/retrato8.png" %}" class="img-fluid img-shadow" alt="Boda7">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/retrato25.png" %}" class="img-fluid img-shadow" alt="Boda8">
                        </div>
                    </div>
                    <div class="row">
                        <!-- Añadir imágenes de bodas aquí -->
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/retrato9.png" %}" class="img-fluid img-shadow" alt="Boda2">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/retrato10.png" %}" class="img-fluid img-shadow" alt="Boda6">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/retrato11.png" %}" class="img-fluid img-shadow" alt="Boda7">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/retrato12.png" %}" class="img-fluid img-shadow" alt="Boda8">
                        </div>
                    </div>
                    <div class="row">
                        <!-- Añadir imágenes de bodas aquí -->
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/retrato13.png" %}" class="img-fluid img-shadow" alt="Boda2">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/retrato14.png" %}" class="img-fluid img-shadow" alt="Boda6">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/retrato15.png" %}" class="img-fluid img-shadow" alt="Boda7">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/Caly.jpg" %}" class="img-fluid img-shadow" alt="Boda8">
                        </div>
                    </div>
                    <div class="row">
                        <!-- Añadir imágenes de bodas aquí -->
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/retrato19.png" %}" class="img-fluid img-shadow" alt="Boda2">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/retrato20.png" %}" class="img-fluid img-shadow" alt="Boda6">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/retrato21.png" %}" class="img-fluid img-shadow" alt="Boda7">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{% static "img/retrato23.png" %}" class="img-fluid img-shadow" alt="Boda8">
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'contact' %}" class="btn btn-dark my-2">Contact</a>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </section>

{% endblock %}