{% extends 'favkaryapp/index.html' %}
{% load static %}

{% block title %}Weddings - Fab Kary View{% endblock %}

{% block content %}
 
 <!-- Portfolio Section -->
    <section id="weddings" class="py-5">
        <div class="container">
            <hr>
            <h2 class="text-center enfoqueFont">- Weddings -</h2>
            <p class="text-center esloganFont">The magic of your wedding, narrated through captivating images</p>
            <hr>
            <div class="row">
                <div class="col-12 text-center">
                    <div class="row">
                        <!-- Añadir imágenes de bodas aquí -->
                        <div class="col-md-3 mb-4">
                            <img src="{{ STATIC_URL }}img/boda3.png" class="img-fluid img-shadow" alt="Boda1">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{{ STATIC_URL }}img/boda6.png" class="img-fluid img-shadow" alt="Boda3">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{{ STATIC_URL }}img/boda5.png" class="img-fluid img-shadow" alt="Boda4">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{{ STATIC_URL }}img/boda4.png" class="img-fluid img-shadow" alt="Boda5">
                        </div>
                    </div>
                    <div class="row">
                        <!-- Añadir imágenes de bodas aquí -->
                        <div class="col-md-3 mb-4">
                            <img src="{{ STATIC_URL }}img/boda2.png" class="img-fluid img-shadow" alt="Boda2">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{{ STATIC_URL }}img/comercial6.png" class="img-fluid img-shadow" alt="Boda6">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{{ STATIC_URL }}img/boda7.png" class="img-fluid img-shadow" alt="Boda7">
                        </div>
                        <div class="col-md-3 mb-4">
                            <img src="{{ STATIC_URL }}img/boda3.png" class="img-fluid img-shadow" alt="Boda8">
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'contact' %}" class="btn btn-dark my-2">Contact</a>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </section>

{% endblock %}