# Ignora archivos de imagen y todo el contenido en la carpeta de estáticos y media
static/*
media/*

# Archivos generados automáticamente por Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3  # También ignora el archivo de base de datos local

# Entornos virtuales
.venv/
ENV/

# Variables de entorno
.env

# Configuración de editores de código
.vscode/
.idea/

# Archivos generados por `collectstatic`
staticfiles/